.card {
    color: rgba(255, 255, 255, 0.781);
    border: none;
    border-radius: 5%;
    width: 15em;
    height: 25em;
    margin: 2em 0em 0em 0em;
    background-color: rgba(34, 83, 128, 0.829);
    display: flex;
    flex-direction: column;

}