.temp-pic {
    background-color: rgba(116, 116, 116, 0.719);
    border-radius: 100%;
    width: 10em;
    height: 12em;
    align-items: center;
    justify-content: center;
    
}
.temp-pic p {
    color: white;
    font-size: large;

}