.posts-card{
    color: rgba(255, 255, 255, 0.781);
    
    width: 50em;
    height: auto;
    margin: 2em 0em 0em 15em;
    background-color: rgba(28, 79, 90, 0.651);
    align-self: flex-start;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}