.username {
    color: white;
    font-size: 25px;
    justify-content: center;
    align-items: flex-start;
    height: 5em;
    width: 5em;
    padding-left: 1em;
    padding-top: 2em;
    background-color: rgba(34, 83, 128, 0);
    border: none;
}